.item1 { 
  grid-area: header; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'column1 column1 column2 column2 column3 column3';
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
